{% extends 'base.html' %}

{% block content %}
    <!-- Form content -->
    <main class="container p-5">
        <div class="row">
            <img src="../../static/images/michael-rivera-DypO_XgAE4Y-unsplash.jpg" class="d-flex align-items-center justify-content-center p-50" style="width: 500px; height: 400px;">
        </div>
        <div class="row">
            <aside class="col-12 col-md-6">
                <h2>Create Your Account</h2>
                {% include 'forms.html' %}
            </aside>
        </div>
    </main>
{% endblock %}